/* Sets margins to 0px to allow more space for boxes */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/***** SEMANTIC ELEMENTS *****/

    /* Makes bg color off white */
    body {
        background-color: #d9dcd6;
    }

    /* Page header,  */
    header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2a607c;
        color: #ffffff;
    }

    /* Navbar, floated to the right side of the page */
    nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    /* Navbar links inline to display horizontally*/
    nav li {
        display: inline-block;
        margin-left: 25px;
    }

    /* Sidebar- Benefits of SEO */
    aside {
        margin-right: 20px;
        margin-bottom: 32px;
        color: #ffffff;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }

    /* Limits size of sidebar images to fit within sidebar */
    aside img {
        display: block;
        margin: auto;
        max-width: 150px;
    }

    /* Footer- Centered on page bottom, and clear forces it to be distanced from other elements */
    footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    /* Navbar link text, set to match page style */
    a {
        color: #ffffff;
        text-decoration: none;
        
    }

    /* Emphasis text within page header "seo" */
    em {
        color: #c7c7c7;
        font-style: normal;
    }

    /* Page header */
    h1 {
        display: inline-block;
        font-size: 48px;
    }

    /* Main content header */
    h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }

    /* Sidebar and Footer header */
    h3 {
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
    }

/***** CLASSES & IDs *****/

    /* Section to hold .card classes, 75% to leave space for sidebar */
    .content {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
    }

    /* Floats image left*/
    .float-left {
        float: left;
        margin-right: 25px;
    }

    /* Floats image right */
    .float-right {
        float: right;
        margin-left: 25px;
    }

    /* Cards displayed within .content */
    .card {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }

    /* Limits images within .card class to 200px, to fit inside content cards */
    .card img {
        max-height: 200px;
    }

    /* Keeps hero image consistent size regardless of device size */
    #hero {
        height: 100%;
        width: 100%;
        margin-bottom: 25px;
    }